<!doctype html>
<html>

<head>
  <title>Save Money on Doctor's Appointments</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Doc Saver</h1>
            <p>Helping People with High Deductibles Save Money on their Health Care</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Search for Primary Care Appointments</h3>
        <label>Reason for Visit</label>
        <select class="form-control">
          <option>General Consulation</option>
          <option>Vaccine</option>
          <option>Flu Shot</option>
          <option>Annual Physical</option>

        </select>

        <p></p>
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Zip Code</label>
          <input type="zipcode" class="form-control" id="exampleInputEmail1" placeholder="Enter zip code">
            </div>
        </form>
        <form action="http://www.example.com/bookings/">
        <label>When do you need to see a doctor?</label>
          <p></p>
           <input type="checkbox" value=""> As soon as possible</input>
           <p></p>
           I've got some time--lemmie know when something is available between:</P>

<div class="well">
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>



<div class="well">
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>


      <button type="button" class="btn btn-primary">Find Available Appointments</button>

      </div>

    <div class="col-md-6">
      <h3>Benefits</h3>
      <ul>
        <li>Save money: Pay less for doctor's visits</li>
        <li>Get it now: Secure appointments that others have canceled</li>
      </ul>
      <h3>About Us</h3>
      <p>People with high deductible health plans (HDHP) are more cost conscious health care consumers than their co-paying counterparts.  But too often, HDHP users are challenged to find good deals--or any deals at all--when shopping for health care products and services. Doc Saver changes that by helping you fill canceled doctor's appointments, and in doing so, improve your health outcomes and control your health care costs.
      </p>

    </div>
   </div>

<p>&nbsp;</p>

   <div class="row">
      <div class="col-md-12">

      </div>
    </div>
</body>
</html>
