<html>
<head>
  <title>Save Money on Doctor's Appointments</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="docsaver_appointments_styles.css">
</head>

<body>
 <div class="container">
    <div class="row">
      <div class="col-md-4">

<div>
        <h3>Appointment Available!</h3>
        <dl>
        <dt>Time:</dt>
          <dd>Today, 3PM (2 hours from now)</dd>
        <dt>Location:</dt>
          <dd>876 Missouri St, (.2 miles)</dd>
        <dt>Fair Price:</dt>
          <dd>$73</dd>
        <dt>Doc Saver Price:</dt> <dd>$52 (30% off)</dd>
        <dt>Doctor:</dt> <dd>Jon Doe</dd>
        <dt>Office:</dt> <dd>Doctor's R Us</dd>
        <dt>Rating:</dt> <dd>4.5 out of 5 Stars</dd>
      </dl>
      <button type="button" class="btn btn-primary">Book it!</button>
</div>

<div>
<h3>Appointment Available!</h3>
<dl>
  <dt>Time:</dt> <dd>Today, 4PM (4 hours from now)</dd>
<dt>Location:</dt> <dd>123 Chicago St (.6 miles)</dd>
<dt>Doctor:</dt> <dd>Jon Doe</dd>
<dt>Fair Price:</dt> <dd>$73</dd>
<dt>Doc Saver Price:</dt> <dd>$61 (20% off)</dd>
<dt>Doctor:</dt> <dd>Jane Doe</dd>
<dt>Office:</dt> <dd>Clinics Inc</dd>
<dt>Rating:</dt> <dd>4 out of 5 Stars</dd>
</dl>
<button type="button" class="btn btn-primary">Book it!</button>

</div>

<div>
<h3>Appointment Available!</h3>
<dl>
  <dt>Time:</dt> <dd>Tomorrow, 830AM (1 day from now)</dd>
<dt>Location:</dt>  <dd>345 Illinois St (.4 miles)</dd>
<dt>Fair Price:</dt> <dd>$73</dd>
<dt>Doc Saver Price:</dt> <dd>$66 (10% off)</dd>
<dt>Doctor:</dt> <dd>Joe Schmo</dd>
<dt>Office:</dt> <dd>Health Masters</dd>
<dt>Rating:</dt> <dd>3.5 out of 5 Stars</dd>
</dl>
<button type="button" class="btn btn-primary">Book it!</button>


</div>
</div>
</div>

</body>
</html>
